.lead__caption {
  margin: 0 0 0 16px;

  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 960px) {
  .lead__caption {
    margin-left: 0;
  }
}
